*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    margin: 5px;
}
.left{
background-color:wheat;
padding: 50px;
margin: 50px;
width: 800px;
height: 500px;
}
.right{
    margin: 50px;
}
.top{
    padding: 10px;
    margin: 10px;
}