*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
}
.top {
    display: flex;
}
.form{

}
.send button{
}
.send{
}
.form-group{
padding: 20px;
}
.left{
    width: 100%;
    height: 100%;
    background-color:whitesmoke;
}