*{
    margin: 0;
    padding: 0;
}
.container-flui{
    /* background-color: whitesmoke; */
    background: linear-gradient(to right,#e9e3e3,rgb(158, 156, 154));
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menubt{
    display: flex;
    padding-left: 210px;
}
.menuic{
    cursor: pointer;
    display: flex !important;
    border-radius: 20px !important;
}
.product{
    display: flex;
}
.Menu1{
    width: 15%;
    padding-top: 30px;
    padding-left: 50px;
}
.product-card{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin:20px;
    box-shadow: 5px 15px 15px rgb(116, 111, 111);
    background-color: rgb(199, 187, 187);
    cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
    transition: 1000ms;
}
.card-text{
    text-decoration: line-through;
}
.card-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 1100px)
{
    .Menu1{
        display: none;
    }
    .product-card{
        width: 100%;
    }
}