html,body {
    width: 100%;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
b{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.content{
    margin-top: 100px;
    width: 60%;
    margin-left: 20%;
}
.main{
    font-family: 'Times New Roman', Times, serif;
}

.main li h3{
    text-decoration: none;
}
.come{

}
.who{
}
.feed{
    margin-left: 5px;
}
.feed textarea{
    margin-left: 5px;
    padding: 80px 350px;
}
.form-control{
    height: 35px;
}
.text {
    margin: 50px !important;
}